@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/wwwroot/assets/css/Home.css" />

<div class="make-flex intro-section">
    <div class="make-flex intro-content">
        <div class="intro-text">
            <h1>Gateway E Commerce</h1>
            <h3>Lorem Data</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat architecto maiores voluptates ex iure qui aspernatur magni iste eveniet ea repudiandae esse eos, aliquid eum deleniti porro quos corrupti incidunt?
        </div>
    </div>
    <div class="intro-img">
        <img alt="Shoes" height="600px" src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2hvZXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60">
    </div>
</div>


<div class="category-intro">
    <h2>Categories of the month</h2>
    <div>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>
<div class="make-flex category-section">
    <div class="sub-category">
        <div class="make-flex category-img">
            <img src="https://content.thewosgroup.com/wosus/navigation/wosus-nav-rolex-sep23.jpg" alt="Watch">
        </div>
        <h3 class="category-name">
            Watches
        </h3>
        <a href="#" type="button">Shop Now</a>
    </div>
    <div class="sub-category">
        <div class="category-img">
            <img src="https://cdn.thewirecutter.com/wp-content/media/2023/05/running-shoes-2048px-9718.jpg" alt="Shoes">
        </div>
        <h3 class="category-name">
            Shoes
        </h3>
        <a href="#" type="button">Shop Now</a>
    </div>
    <div class="sub-category">
        <div class="category-img">
            <img src="https://media.istockphoto.com/id/638385938/photo/mens-accessories-organized-on-table-in-knolling-arrangement.jpg?s=612x612&w=0&k=20&c=1js7SPwDltf-keySdRc18JBThBrvvnKzrABpnxsrL9M=" alt="Accessories">
        </div>
        <h3 class="category-name">
            Accessories
        </h3>
        <a href="#" type="button">Shop Now</a>
    </div>
</div>
